/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
background: #B385DA;
}

.color-2 {
background: grey;
}

.color-3 {
    background: #000;
}

/* Textures or Patterns*/

.pattern-1 {
background: url(http://thumbs.dreamstime.com/thumb_544/12861978622AXuey.jpg);
}

.pattern-2 {
     background-image: url("../img/concrete_seamless.png");
}

/* Imagery */

.imagery-1 {
background-image: url(http://images.clipartpanda.com/-9TRjjG5Te.png);
    width: 400px;
    height: 300px;
}

.imagery-2 {
background-image: url(http://www.clipartpal.com/_thumbs/pd/holiday/christmas/Christmas_tree_decorations_large_T.png);
    width: 400px;
    height: 300px;
}

.imagery-3 {
background-image: url(http://images.clipartpanda.com/christmas-clipart-images-cute-christmas-clip-art-2-freecuteclipartblogspot_1.gif);
    width: 400px;
    height: 300px;
}



/* Icons */


/* Typography */

body {font-family: 'Raleway', sans-serif;}

/* Forms */


/* Tables */


/* Cards */