/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
background: #B385DA;
}

.color-2 {
background:  #615F5F;
}

.color-3 {
    background: #000;
}

/* Textures or Patterns*/

.pattern-1 {
background: ;
}

.pattern-2 {
     background-image: url("../img/concrete_seamless.png");
}

/* Imagery */

.imagery-1 {
background-image: url("../img/bbeast.jpg");
    width: 400px;
    height: 300px;
}

.imagery-2 {
background-image: url("../img/bfloral.jpg");
    width: 400px;
    height: 300px;
    transform: scale()
}

.imagery-3 {
background-image: url("../img/bmap.jpg");
    width: 400px;
    height: 300px;
}





/* Icons */


/* Typography */

body {font-family: 'Raleway', sans-serif;}


h2,
h3,
p
{font-family: 'Merriweather Sans', sans-serif;}

/* Forms */
input[type="button"]{
  background: #B385DA;
  padding: .5em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  color: black;
  font-size: 1em;
}

/* Tables */


/* Cards */


/*** Navigation ***/
nav {
    padding: 2px;
    text-align: center;
}


li {
    padding: 10px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    margin: 0 12px;
}
/* Link& Visited State */
a:link,
a:visited {
  border-left: 8px solid none;
  color: #B385DA;
  display: block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  /* vertical-align: center; */
  width:80px;
  transition: background .25s, margin-left 2s;
}

/* Hover */
a:hover {
  background: lightgrey;
  border-left: 8px solid none;
  color: #B385DA;  
  margin-left: 32px;
transition: background .5s, margin-left .5s;
}